<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cibus Animae</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div class="top-bar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Error Image" vertical-align: middle; width="auto">
        <div id="top-bar-buttons" style="margin-left: auto;">
            {% if session['user'] %}
                <button onclick="location.href='{{ url_for('profile') }}'">Profil</button>
                <button onclick="location.href='{{ url_for('logout') }}'">Wyloguj</button>
                <button onclick="location.href='{{ url_for('search') }}'">Wyszukiwanie</button>
            {% else %}
                <button onclick="location.href='{{ url_for('about') }}'">O stronie</button>
                <button onclick="location.href='{{ url_for('login') }}'">Logowanie</button>
                <button onclick="location.href='{{ url_for('rejestracja') }}'">Zarejestój się</button>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div style="display: flex; justify-content: center;">
            <img src="{{ url_for('static', filename='logocibus.png') }}" alt="Error Image" style="text-align: middle;" width="auto" height="400">
        </div>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 100px;">
        <img src="{{ url_for('static', filename='add.png') }}" alt="Add" style="width: auto; height: 300px;">
    </div>

</body>
</html>
