<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cibus Animae</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="top-bar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Error Image" style="vertical-align: middle; width: auto;">
        <div id="top-bar-buttons" style="margin-left: auto;">
            {% if current_user.is_authenticated %}
                <button onclick="location.href='{{ url_for('profile') }}'">Profil</button>
                <button onclick="location.href='{{ url_for('logout') }}'">Wyloguj</button>
                <button onclick="location.href='{{ url_for('search') }}'">Wyszukiwanie</button>
            {% else %}
                <button onclick="location.href='{{ url_for('about') }}'">O stronie</button>
                <button onclick="location.href='{{ url_for('login') }}'">Logowanie</button>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div style="display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='login.png') }}" class="header-icon" alt="Error Image" style="vertical-align: middle;">    
            <h2>Logowanie</h2>
        </div>
        <div id="alert" class="alert" style="display: none;"></div>
        <form action="{{ url_for('login_user') }}" method="post">
            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Zaloguj</button>
        </form>
    </div>
</body>
</html>
