<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Szukanych</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div class="top-bar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Error Image" vertical-align: middle; width="auto">
        <div id="top-bar-buttons" style="margin-left: auto;">
            {% if current_user.is_authenticated %}
                <button onclick="location.href='{{ url_for('profile') }}'">Profil</button>
                <button onclick="location.href='{{ url_for('logout') }}'">Wyloguj</button>
                <button onclick="location.href='{{ url_for('search') }}'">Wyszukiwanie</button>
            {% else %}
                <button onclick="location.href='{{ url_for('about') }}'">O stronie</button>
                <button onclick="location.href='{{ url_for('login') }}'">Logowanie</button>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <h2>Lista Szukanych</h2>
        <div id="book-list" class="book-list">
            {% for book in books %}
                <div class="book-item">
                    <img src="{{ book.picture }}" alt="Book Image" class="book-image">
                    <div class="book-details">
                        <h3>{{ book.name }}</h3>
                        <p>{{ book.author }}</p>
                        <button onclick="location.href='{{ url_for('order_book', book_id=book.id) }}'">Zamów</button>
                        <button onclick="location.href='{{ url_for('select_book', book_id=book.id) }}'">Zaznacz</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% for page in range(1, total_pages + 1) %}
                <button onclick="location.href='{{ url_for('list_books', page=page) }}'">{{ page }}</button>
            {% endfor %}
        </div>
    </div>
</body>
</html>
